In [116]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [117]:
csv_file = "FAO2.csv"
agri_df = pd.read_csv(csv_file)
agri_df.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [118]:
csv2_file = "Revised_Global.csv"
GlobalLandTemp_df = pd.read_csv(csv2_file)
GlobalLandTemp_df.head()

         year  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1744-04-01               1.530                          4.680   Åland
2  1744-05-01               6.702                          1.789   Åland
3  1744-06-01              11.609                          1.577   Åland
4  1744-07-01              15.342                          1.410   Åland

In [119]:
#Check if dt is in date format
GlobalLandTemp_df['year'] = pd.to_datetime(GlobalLandTemp_df['year'])

In [120]:
GlobalLandTemp_df.head(50)

         year  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1744-04-01               1.530                          4.680   Åland
2  1744-05-01               6.702                          1.789   Åland
3  1744-06-01              11.609                          1.577   Åland
4  1744-07-01              15.342                          1.410   Åland
5  1744-09-01              11.702                          1.517   Åland
6  1744-10-01               5.477                          1.862   Åland
7  1744-11-01               3.407                          1.425   Åland
8  1744-12-01              -2.181                          1.641   Åland
9  1745-01-01              -3.850                          1.841   Åland
10 1745-02-01              -6.575                          1.360   Åland
11 1745-03-01              -4.195                          1.213   Åland
12 1745-04-01              -0.966                          1.172   Åland
13 1750-01-01               1.091                          1.119   Åland
14 1750-02-01               0.809                          3.353   Åland
15 1750-03-01               0.923                          4.716   Åland
16 1750-04-01               3.943                          1.434   Åland
17 1750-05-01               6.265                          1.339   Åland
18 1750-06-01              12.408                          1.204   Åland
19 1750-07-01              16.683                          1.184   Åland
20 1750-08-01              17.076                          0.996   Åland
21 1750-09-01              11.459                          1.881   Åland
22 1750-10-01               2.627                          1.562   Åland
23 1750-12-01              -4.058                          2.166   Åland
24 1751-01-01              -3.408                          1.520   Åland
25 1751-02-01              -8.393                          2.525   Åland
26 1751-03-01              -0.122                          1.919   Åland
27 1751-04-01               2.159                          0.922   Åland
28 1751-06-01              10.688                          1.477   Åland
29 1751-07-01              15.660                          0.966   Åland
30 1751-08-01              15.689                          1.144   Åland
31 1751-09-01              10.906                          1.230   Åland
32 1752-01-01              -4.633                          2.852   Åland
33 1752-03-01              -0.362                          1.695   Åland
34 1752-04-01               1.941                          3.397   Åland
35 1752-10-01               7.610                          2.482   Åland
36 1752-11-01               4.767                          0.816   Åland
37 1752-12-01               0.427                          0.937   Åland
38 1753-01-01              -2.412                          8.018   Åland
39 1753-02-01              -3.273                          3.736   Åland
40 1753-03-01               0.710                          4.638   Åland
41 1753-04-01               2.778                          5.138   Åland
42 1753-05-01               6.226                          3.150   Åland
43 1753-06-01              11.102                          3.644   Åland
44 1753-07-01              15.159                          2.493   Åland
45 1753-08-01              15.786                          9.130   Åland
46 1753-09-01              12.106                          1.765   Åland
47 1753-10-01               8.756                          3.676   Åland
48 1753-11-01               2.248                          4.019   Åland
49 1753-12-01              -7.766                          6.527   Åland

In [102]:
#Set date range
start_date = '1991-12-01'
end_date = '2012-12-01'

In [103]:
mask = (GlobalLandTemp_df['dt'] > start_date) & (GlobalLandTemp_df['dt'] <= end_date)

In [104]:
GlobalLandTemp_filtered_df = GlobalLandTemp_df.loc[mask]
GlobalLandTemp_filtered_df.head()

,year,AverageTemperature,AverageTemperatureUncertainty,Country,dt
1802,1/1/00,-3.026,0.538,Åland,2000-01-01
1803,2/1/00,-8.063,0.657,Åland,2000-02-01
1804,3/1/00,-3.196,0.467,Åland,2000-03-01
1805,4/1/00,0.781,0.224,Åland,2000-04-01
1806,5/1/00,4.960,0.503,Åland,2000-05-01

In [105]:
GlobalLandTemp_filtered_df.tail()

,year,AverageTemperature,AverageTemperatureUncertainty,Country,dt
544798,8/1/12,18.946,1.127,Zimbabwe,2012-08-01
544799,9/1/12,22.609,0.643,Zimbabwe,2012-09-01
544800,10/1/12,23.482,0.574,Zimbabwe,2012-10-01
544801,11/1/12,24.606,0.532,Zimbabwe,2012-11-01
544802,12/1/12,24.111,0.846,Zimbabwe,2012-12-01

In [106]:
GlobalLandTemp_filtered_df = GlobalLandTemp_filtered_df.drop(columns='AverageTemperatureUncertainty')
GlobalLandTemp_filtered_df

           year  AverageTemperature   Country         dt
1802     1/1/00              -3.026     Åland 2000-01-01
1803     2/1/00              -8.063     Åland 2000-02-01
1804     3/1/00              -3.196     Åland 2000-03-01
1805     4/1/00               0.781     Åland 2000-04-01
1806     5/1/00               4.960     Åland 2000-05-01
1807     6/1/00              12.296     Åland 2000-06-01
1808     7/1/00              14.712     Åland 2000-07-01
1809     8/1/00              15.632     Åland 2000-08-01
1810     9/1/00              10.647     Åland 2000-09-01
1811    10/1/00               7.141     Åland 2000-10-01
1812    11/1/00               3.274     Åland 2000-11-01
1813    12/1/00              -0.584     Åland 2000-12-01
1814     1/1/01              -2.000     Åland 2001-01-01
1815     2/1/01              -6.386     Åland 2001-02-01
1816     3/1/01              -2.775     Åland 2001-03-01
1817     4/1/01               2.253     Åland 2001-04-01
1818     5/1/01               7.847     Åland 2001-05-01
1819     6/1/01              13.163     Åland 2001-06-01
1820     7/1/01              19.337     Åland 2001-07-01
1821     8/1/01              17.357     Åland 2001-08-01
1822     9/1/01              12.778     Åland 2001-09-01
1823    10/1/01              10.082     Åland 2001-10-01
1824    11/1/01               0.394     Åland 2001-11-01
1825    12/1/01              -3.301     Åland 2001-12-01
1826     1/1/02              -1.770     Åland 2002-01-01
1827     2/1/02              -4.470     Åland 2002-02-01
1828     3/1/02              -3.378     Åland 2002-03-01
1829     4/1/02              -0.831     Åland 2002-04-01
1830     5/1/02               4.296     Åland 2002-05-01
1831     6/1/02               9.655     Åland 2002-06-01
...         ...                 ...       ...        ...
544773   7/1/10              16.668  Zimbabwe 2010-07-01
544774   8/1/10              18.260  Zimbabwe 2010-08-01
544775   9/1/10              23.109  Zimbabwe 2010-09-01
544776  10/1/10              25.943  Zimbabwe 2010-10-01
544777  11/1/10              25.211  Zimbabwe 2010-11-01
544778  12/1/10              23.757  Zimbabwe 2010-12-01
544779   1/1/11              22.982  Zimbabwe 2011-01-01
544780   2/1/11              23.166  Zimbabwe 2011-02-01
544781   3/1/11              23.668  Zimbabwe 2011-03-01
544782   4/1/11              21.759  Zimbabwe 2011-04-01
544783   5/1/11              19.627  Zimbabwe 2011-05-01
544784   6/1/11              16.939  Zimbabwe 2011-06-01
544785   7/1/11              15.803  Zimbabwe 2011-07-01
544786   8/1/11              17.883  Zimbabwe 2011-08-01
544787   9/1/11              22.902  Zimbabwe 2011-09-01
544788  10/1/11              24.966  Zimbabwe 2011-10-01
544789  11/1/11              25.521  Zimbabwe 2011-11-01
544790  12/1/11              24.013  Zimbabwe 2011-12-01
544791   1/1/12              23.872  Zimbabwe 2012-01-01
544792   2/1/12              24.294  Zimbabwe 2012-02-01
544793   3/1/12              23.596  Zimbabwe 2012-03-01
544794   4/1/12              20.349  Zimbabwe 2012-04-01
544795   5/1/12              19.712  Zimbabwe 2012-05-01
544796   6/1/12              16.631  Zimbabwe 2012-06-01
544797   7/1/12              16.048  Zimbabwe 2012-07-01
544798   8/1/12              18.946  Zimbabwe 2012-08-01
544799   9/1/12              22.609  Zimbabwe 2012-09-01
544800  10/1/12              23.482  Zimbabwe 2012-10-01
544801  11/1/12              24.606  Zimbabwe 2012-11-01
544802  12/1/12              24.111  Zimbabwe 2012-12-01

[98301 rows x 4 columns]

In [107]:
GlobalLandTemp_filtered_df["year"] = pd.DatetimeIndex(GlobalLandTemp_filtered_df['dt']).year
GlobalLandTemp_filtered_df.head()

      year  AverageTemperature Country         dt
1802  2000              -3.026   Åland 2000-01-01
1803  2000              -8.063   Åland 2000-02-01
1804  2000              -3.196   Åland 2000-03-01
1805  2000               0.781   Åland 2000-04-01
1806  2000               4.960   Åland 2000-05-01

In [ ]:
country_byTemp = list(yearly_mean_temp_df['Country'].unique())

In [108]:
yearly_mean_temp_list = GlobalLandTemp_filtered_df.groupby(['Country', 'year'])['AverageTemperature'].mean()
yearly_mean_temp_list

Country      year
Afghanistan  1992    14.056083
             1993    14.439250
             1994    14.754750
             1995    14.859167
             1996    14.426000
             1997    14.904000
             1998    15.132500
             1999    15.388750
             2000    14.623583
             2001    14.836042
             2002    15.021750
             2003    13.951208
             2004    14.788333
             2005    14.182833
             2006    14.740250
             2007    14.229542
             2008    14.457833
             2009    14.591583
             2010    14.522583
             2011    14.451500
             2012    14.192125
Africa       1992    24.335417
             1993    24.538667
             1994    24.438750
             1995    24.718417
             1996    24.634500
             1997    24.706833
             1998    25.020500
             1999    24.743750
             2000    24.289792
                       ...
Zimbabwe     2004    20.667625
             2005    21.695292
             2006    21.092125
             2007    20.905125
             2008    21.292000
             2009    21.148375
             2010    21.161083
             2011    21.074042
             2012    21.453625
Åland        1992     6.782333
             1993     5.906750
             1994     5.899500
             1995     6.200167
             1996     5.236333
             1997     6.674250
             1998     5.841250
             1999     6.764000
             2000     5.915583
             2001     6.065292
             2002     5.120083
             2003     6.029417
             2004     5.550917
             2005     6.102292
             2006     6.520583
             2007     5.899042
             2008     6.301667
             2009     5.588625
             2010     5.554292
             2011     6.609042
             2012     5.567333
Name: AverageTemperature, Length: 5082, dtype: float64

In [109]:
yearly_mean_temp_df = pd.DataFrame(yearly_mean_temp_list)
yearly_mean_temp_df

                  AverageTemperature
Country     year
Afghanistan 1992           14.056083
            1993           14.439250
            1994           14.754750
            1995           14.859167
            1996           14.426000
            1997           14.904000
            1998           15.132500
            1999           15.388750
            2000           14.623583
            2001           14.836042
            2002           15.021750
            2003           13.951208
            2004           14.788333
            2005           14.182833
            2006           14.740250
            2007           14.229542
            2008           14.457833
            2009           14.591583
            2010           14.522583
            2011           14.451500
            2012           14.192125
Africa      1992           24.335417
            1993           24.538667
            1994           24.438750
            1995           24.718417
            1996           24.634500
            1997           24.706833
            1998           25.020500
            1999           24.743750
            2000           24.289792
...                              ...
Zimbabwe    2004           20.667625
            2005           21.695292
            2006           21.092125
            2007           20.905125
            2008           21.292000
            2009           21.148375
            2010           21.161083
            2011           21.074042
            2012           21.453625
Åland       1992            6.782333
            1993            5.906750
            1994            5.899500
            1995            6.200167
            1996            5.236333
            1997            6.674250
            1998            5.841250
            1999            6.764000
            2000            5.915583
            2001            6.065292
            2002            5.120083
            2003            6.029417
            2004            5.550917
            2005            6.102292
            2006            6.520583
            2007            5.899042
            2008            6.301667
            2009            5.588625
            2010            5.554292
            2011            6.609042
            2012            5.567333

[5082 rows x 1 columns]

In [121]:
yearly_mean_temp_df.to_csv("yearly_mean_temp_df.csv")

In [126]:
csv_file = "mapping_df.csv"
mapping_df = pd.read_csv(csv_file)
mapping_df.head()

           countryNAME countryCODE
0          Afghanistan         AFG
1              Albania         ALB
2              Algeria         DZA
3               Angola         AGO
4  Antigua and Barbuda         ATG

In [153]:
csv_file = "yearly_mean_temp_df.csv"
temp_df = pd.read_csv(csv_file)
temp_df.head()

       Country  year  AverageTemperature
0  Afghanistan  1992           14.056083
1  Afghanistan  1993           14.439250
2  Afghanistan  1994           14.754750
3  Afghanistan  1995           14.859167
4  Afghanistan  1996           14.426000

In [154]:
te = temp_df.pivot(index='Country',columns='year',values='AverageTemperature')
te.reset_index()

year,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Afghanistan,14.056083,14.439250,14.754750,14.859167,14.426000,14.904000,15.132500,15.388750,14.623583,...,13.951208,14.788333,14.182833,14.740250,14.229542,14.457833,14.591583,14.522583,14.451500,14.192125
1,Africa,24.335417,24.538667,24.438750,24.718417,24.634500,24.706833,25.020500,24.743750,24.289792,...,24.354750,24.113000,24.432917,24.227875,24.114042,24.209792,24.362708,24.542708,24.189167,24.309625
2,Albania,13.084667,13.122583,14.099667,12.782083,12.736500,12.900917,13.311250,13.653750,13.407583,...,13.085208,12.893750,12.455458,12.578333,13.057083,13.101208,13.202042,13.220125,12.963417,12.913042
3,Algeria,22.767000,23.450833,23.642083,23.722500,23.734333,23.955167,23.920583,24.299417,23.448208,...,23.474667,23.299167,23.391333,23.334708,23.118458,23.389917,23.362083,23.946292,23.359417,23.410792
4,American Samoa,27.072000,26.816417,26.986333,27.268667,27.112667,26.955750,27.424833,27.067167,26.746667,...,26.798250,26.669083,26.761958,26.834625,26.728458,26.537292,26.481500,26.782000,26.601750,26.762542
5,Andorra,11.498417,11.432167,12.632250,12.376417,11.741417,12.896167,12.118750,12.178667,11.830125,...,11.834583,11.756042,11.193833,11.865667,11.541292,11.516917,11.481042,11.080458,12.225667,11.589875
6,Angola,22.498583,22.291000,22.189417,22.936167,22.479250,22.317167,23.120167,22.382083,22.075292,...,22.325667,21.696042,22.235250,21.639417,21.738958,21.818500,21.960875,22.134708,21.627000,22.023625
7,Anguilla,27.050333,27.163417,27.169250,27.550333,27.056833,27.393583,27.740833,27.344583,26.729750,...,27.091917,26.737125,27.137583,27.006542,26.905542,26.717000,26.798458,26.966542,26.916833,27.053625
8,Antigua And Barbuda,26.894750,26.956167,26.946083,27.380333,26.942333,27.289333,27.601750,27.131750,26.561000,...,26.917083,26.555000,26.955458,26.831875,26.746375,26.526458,26.616583,26.828958,26.713583,26.839917
9,Argentina,14.739167,15.098667,15.578667,15.149833,15.211583,15.620667,15.261750,15.064917,14.778875,...,14.947208,14.937250,14.652125,15.127833,14.315708,14.917958,14.895000,14.621708,14.613000,15.093958
10,Armenia,7.614667,7.769667,9.021250,9.892167,9.819167,9.246333,10.448417,10.331000,9.080958,...,8.725542,8.784542,9.011958,9.202875,8.562500,8.742667,9.244792,10.018833,8.065292,9.634000
11,Aruba,28.498750,28.589167,28.482250,28.736417,28.479583,28.763333,28.982500,28.197917,28.077958,...,28.394292,27.945500,28.272042,28.250583,28.155333,28.011792,28.146375,28.229708,28.046917,28.191125
12,Asia,7.671917,7.823167,8.041250,8.705833,7.887917,8.281500,8.294250,8.379500,7.696792,...,7.817542,7.840792,7.799417,7.876000,7.975083,7.816375,7.806792,7.771708,7.766042,7.559333
13,Australia,21.932583,22.160167,22.030250,21.955167,22.325333,22.086000,22.664833,22.064500,21.738125,...,21.808542,21.628875,22.037167,22.074708,21.890625,21.545208,21.871667,21.823625,21.557458,21.925333
14,Austria,7.615583,6.858667,8.164917,6.846500,5.863250,7.025083,7.222750,7.234250,7.377583,...,6.874708,6.720333,6.298500,6.651875,6.967750,6.672375,6.533333,6.449500,7.293958,6.607125
15,Azerbaijan,10.721333,10.526083,11.472917,12.731583,12.202250,11.894417,12.958750,12.851750,11.607250,...,11.366708,11.568500,11.807708,11.886250,11.358375,11.347250,11.971167,12.631292,10.647083,12.201458
16,Bahamas,25.465500,25.549833,26.024500,25.768667,25.385417,26.190833,26.229500,25.622667,25.253292,...,25.462375,25.259292,25.518708,25.240625,25.529500,25.471250,25.284333,24.731333,25.585958,25.591458
17,Bahrain,25.177667,26.165917,26.733750,26.257417,26.827500,26.190917,27.612417,27.742417,26.485000,...,26.322542,26.436208,26.302583,26.392083,26.240292,26.374875,26.719542,26.654042,25.910458,26.550375
18,Baker Island,25.810333,25.735667,25.877000,25.862250,25.726583,26.120583,26.645667,25.871167,25.571333,...,25.635167,25.417000,25.809958,25.792042,25.587583,25.409875,25.614375,25.633542,25.524917,25.736333
19,Bangladesh,25.122250,25.003167,25.261667,25.415833,25.440250,24.859250,25.524167,25.714833,25.184625,...,25.096042,25.028500,24.819958,25.304417,25.008125,25.126042,25.428667,25.236583,24.854292,25.111125
20,Barbados,26.904667,27.056833,26.960083,27.326000,27.018250,27.239333,27.625083,27.140833,26.590625,...,26.883417,26.559458,26.936458,26.836500,26.716208,26.532708,26.643750,26.869042,26.765708,26.760500
21,Belarus,7.132000,6.013833,6.735917,7.021250,5.656583,6.343750,6.528333,7.712750,6.864917,...,6.752417,5.990167,6.444583,6.745458,6.259958,6.536083,6.224708,6.970208,6.631250,5.908292
22,Belgium,10.489250,9.925833,10.996750,10.696750,8.893167,10.472417,10.369167,10.934250,10.410792,...,10.215208,9.990792,9.951917,10.332708,10.135250,9.688167,9.641167,9.480667,10.780375,9.910333
23,Belize,25.647917,25.603083,25.908917,26.004750,25.450500,26.088250,26.228167,25.366667,24.916708,...,25.253750,25.009792,25.171708,25.231625,25.303667,25.141583,25.469667,24.852583,25.428375,25.391708
24,Benin,27.230583,27.597917,27.335583,27.616167,27.703917,27.542000,28.088583,27.680417,27.333708,...,27.136917,26.980542,27.303125,27.513208,27.250208,27.187167,27.365333,27.558750,27.163458,27.212208
25,Bhutan,11.826833,12.087750,12.299667,12.428417,12.374667,11.578833,12.589833,12.814917,12.007458,...,11.992042,11.929667,11.728250,12.325292,12.127125,12.193000,12.570542,12.276917,11.917083,11.907583
26,Bolivia,21.205917,21.524917,21.984750,21.730583,21.053667,21.611333,21.467333,21.031750,21.095208,...,20.836125,21.098250,21.206417,21.129667,20.782542,20.735625,20.905958,20.942458,20.974917,21.235125
27,"Bonaire, Saint Eustatius And Saba",27.706000,27.763000,27.694500,27.990500,27.737500,27.869667,28.281500,27.534917,27.318083,...,27.639125,27.164042,27.551083,27.510792,27.420833,27.302333,27.447625,27.580625,27.331833,27.455125
28,Bosnia And Herzegovina,11.444417,10.959667,12.079083,10.758500,10.252000,10.788500,11.104583,11.376417,11.528917,...,10.977417,10.804333,10.179875,10.520167,11.080292,10.873542,10.929625,10.944583,11.127708,10.874542
29,Botswana,23.290833,22.680750,22.379167,23.213833,22.199667,22.336833,23.070583,22.978000,21.946875,...,22.422792,21.629000,22.413750,21.504417,21.685292,21.938583,21.824083,22.038875,21.672875,22.117792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Switzerland,8.059667,7.617333,8.821083,7.751917,6.974583,8.212417,7.958000,7.902833,7.933917,...,7.750208,7.629500,7.079542,7.623750,7.685542,7.283417,7.239917,6.975917,8.193667,7.318750
213,Syria,17.028583,18.045667,19.051833,18.482250,18.903417,17.933667,19.415333,19.281000,18.433208,...,18.214750,18.134667,18.086958,18.161167,18.052708,18.246792,18.688375,19.102083,17.642000,18.613833
214,Taiwan,22.124833,22.489333,22.825083,22.170250,22.347917,22.488667,23.445583,22.692500,22.223542,...,22.140917,21.941708,22.072458,22.487792,22.348250,22.217083,22.461500,22.194500,21.958875,22.143083
215,Tajikistan,4.430500,4.142667,4.720250,4.808667,4.275333,5.452417,5.116417,5.425000,4.469667,...,3.780000,4.771625,4.142750,4.668750,4.244500,4.400667,4.683292,4.559458,4.454833,4.240292
216,Tanzania,22.803000,22.690000,22.862417,23.006417,22.756667,22.948750,23.058167,22.648167,22.595500,...,22.814167,22.307792,22.911625,22.432750,22.329583,22.401250,22.497542,22.482875,22.507333,22.704000
217,Thailand,26.291167,26.297083,26.477000,26.529917,26.185500,26.635167,27.379667,26.222250,26.201208,...,26.265458,25.958167,26.407375,26.445250,26.102667,25.960000,26.263042,26.593750,26.128958,26.603125
218,Timor Leste,26.648833,26.309917,25.976583,26.442583,26.480500,26.162833,26.970750,26.105000,26.184500,...,26.135917,25.808833,26.483333,26.332667,25.963292,25.913667,26.178042,26.298792,25.799125,25.886292
219,Togo,26.975500,27.236750,27.081667,27.311333,27.305833,27.225417,27.805583,27.280333,27.103375,...,26.810917,26.674083,27.056417,27.194167,27.040250,26.980875,26.995708,27.205000,26.882000,27.004500
220,Tonga,23.576167,23.192333,23.227750,23.890083,23.993667,23.386417,24.133833,23.869500,23.443708,...,23.432750,23.213625,23.237375,23.434375,23.422375,23.290958,22.988000,23.605250,23.505667,23.310000
221,Trinidad And Tobago,26.498667,26.737083,26.607500,27.007917,26.573417,26.681250,27.326417,26.867667,26.337292,...,26.618333,26.137583,26.529958,26.409958,26.258667,26.206250,26.330125,26.599083,26.395292,26.448833
222,Tunisia,20.033167,20.567667,21.266000,20.683167,20.527500,21.084000,20.761333,21.656917,20.490583,...,20.387958,20.399792,20.217083,20.304708,20.122500,20.457667,20.199500,20.499292,20.387750,20.615792
223,Turkey,10.516667,11.277417,12.744833,12.188833,12.405917,11.568000,12.883167,13.087250,12.057833,...,11.846083,11.755833,11.870958,11.902167,11.782625,11.745333,12.362250,12.886917,11.215125,12.230250
224,Turkmenistan,15.036833,14.735417,15.356417,16.520917,15.327000,16.335000,16.162583,16.378500,15.161500,...,14.814083,15.473958,15.479083,15.547125,15.055042,15.042542,15.813750,15.805000,14.642333,15.252042
225,Turks And Caicas Islands,27.077250,27.055250,27.504417,27.389000,26.934167,27.868000,27.743750,27.231583,26.875917,...,27.163667,26.884792,27.133708,26.944417,26.990750,26.965875,26.828458,26.622333,26.960333,27.067000
226,Uganda,23.295417,23.390917,23.415583,23.571583,23.300500,23.813667,23.744250,23.284083,23.267417,...,23.459417,23.047958,23.357542,23.173708,23.062250,22.994250,23.140167,23.241250,23.415208,23.514833
227,Ukraine,8.379750,7.458417,8.807250,8.709083,7.552583,7.604583,8.455583,9.507250,8.567833,...,8.333000,8.005208,8.447958,8.439292,8.319625,8.095417,8.474458,8.941000,7.835833,7.954500
228,United Arab Emirates,27.284083,28.070417,28.397417,27.986333,28.319250,28.120667,29.292583,29.298417,28.232833,...,28.142792,28.366833,28.248417,28.196208,28.225917,28.057417,28.413333,28.378292,28.026250,28.445125
229,United Kingdom,9.025000,8.669750,9.150750,9.419583,8.551167,9.644250,9.462750,9.663333,8.965042,...,9.035708,9.000583,9.022833,9.227125,8.945375,8.962333,8.674292,8.396542,9.488417,8.739333
230,United Kingdom (Europe),9.192667,8.769500,9.330667,9.626667,8.658500,9.855250,9.585333,9.830083,9.144625,...,9.222042,9.166458,9.208208,9.409958,9.134708,9.114875,8.819333,8.513458,9.679500,8.903250
231,United States,9.056333,8.867250,9.270333,9.331000,8.754333,9.172917,10.141167,9.567000,9.335667,...,8.866167,8.934083,9.147500,9.267292,9.115750,8.853500,8.679458,9.131750,9.143917,9.201000
232,Uruguay,17.528833,17.646417,18.131917,17.664750,17.874167,18.365500,17.521500,17.607750,17.768625,...,17.414417,17.455625,17.430958,17.858792,17.126625,17.439458,17.140417,17.150042,16.854917,17.685458
233,Uzbekistan,12.863333,11.956000,12.639167,13.971333,12.452250,13.847250,13.245000,13.908500,12.676917,...,12.204917,13.108833,12.873542,12.920958,12.581417,12.439042,13.218333,13.194125,12.181833,12.644500
234,Venezuela,25.593333,25.468000,25.506500,25.921583,25.598500,25.752667,26.159000,25.344833,25.255875,...,25.506333,25.137208,25.427000,25.308458,25.182792,25.111125,25.321833,25.390917,25.165792,25.257125
235,Vietnam,23.851250,23.935667,24.159417,23.919000,23.749667,24.222667,24.899833,24.066417,23.749792,...,23.928333,23.686583,23.936833,24.136875,23.841417,23.538500,24.044042,24.162125,23.744375,24.185917
236,Virgin Islands,26.776417,26.930500,27.040750,27.228917,26.743583,27.114667,27.452333,26.998250,26.422375,...,26.826250,26.443958,26.877208,26.739125,26.646708,26.480583,26.555542,26.685417,26.605458,26.816708
237,Western Sahara,22.734500,22.301917,22.944500,23.371083,23.262250,23.643333,23.690167,22.836250,22.641917,...,22.727833,22.645792,22.814083,22.742833,22.300000,22.670000,22.732625,23.141958,22.673250,22.732333
238,Yemen,26.266500,26.402000,26.994250,26.577667,26.546167,26.940000,27.368667,27.353583,26.713375,...,26.502708,26.681375,26.615875,26.536458,26.479625,26.245625,26.738375,26.645417,26.566625,26.633500
239,Zambia,22.414667,21.711583,21.846583,22.451417,22.018083,21.949750,22.300667,21.451750,21.466417,...,21.693833,20.991542,21.914875,21.301667,21.137417,21.295500,21.314667,21.463000,21.241750,21.571750
240,Zimbabwe,22.840333,21.852250,21.608750,22.496333,21.553167,21.566667,22.142167,21.486333,21.212417,...,21.442625,20.667625,21.695292,21.092125,20.905125,21.292000,21.148375,21.161083,21.074042,21.453625
241,Åland,6.782333,5.906750,5.899500,6.200167,5.236333,6.674250,5.841250,6.764000,5.915583,...,6.029417,5.550917,6.102292,6.520583,5.899042,6.301667,5.588625,5.554292,6.609042,5.567333

In [156]:
temp2_df = te.merge(mapping_df,how='inner',left_on='Country',right_on='countryNAME')
temp2_df

,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2005,2006,2007,2008,2009,2010,2011,2012,countryNAME,countryCODE
0,14.056083,14.439250,14.754750,14.859167,14.426000,14.904000,15.132500,15.388750,14.623583,14.836042,...,14.182833,14.740250,14.229542,14.457833,14.591583,14.522583,14.451500,14.192125,Afghanistan,AFG
1,13.084667,13.122583,14.099667,12.782083,12.736500,12.900917,13.311250,13.653750,13.407583,13.070000,...,12.455458,12.578333,13.057083,13.101208,13.202042,13.220125,12.963417,12.913042,Albania,ALB
2,22.767000,23.450833,23.642083,23.722500,23.734333,23.955167,23.920583,24.299417,23.448208,23.725417,...,23.391333,23.334708,23.118458,23.389917,23.362083,23.946292,23.359417,23.410792,Algeria,DZA
3,22.498583,22.291000,22.189417,22.936167,22.479250,22.317167,23.120167,22.382083,22.075292,22.127167,...,22.235250,21.639417,21.738958,21.818500,21.960875,22.134708,21.627000,22.023625,Angola,AGO
4,14.739167,15.098667,15.578667,15.149833,15.211583,15.620667,15.261750,15.064917,14.778875,15.089875,...,14.652125,15.127833,14.315708,14.917958,14.895000,14.621708,14.613000,15.093958,Argentina,ARG
5,7.614667,7.769667,9.021250,9.892167,9.819167,9.246333,10.448417,10.331000,9.080958,9.848208,...,9.011958,9.202875,8.562500,8.742667,9.244792,10.018833,8.065292,9.634000,Armenia,ARM
6,21.932583,22.160167,22.030250,21.955167,22.325333,22.086000,22.664833,22.064500,21.738125,21.687667,...,22.037167,22.074708,21.890625,21.545208,21.871667,21.823625,21.557458,21.925333,Australia,AUS
7,7.615583,6.858667,8.164917,6.846500,5.863250,7.025083,7.222750,7.234250,7.377583,6.422708,...,6.298500,6.651875,6.967750,6.672375,6.533333,6.449500,7.293958,6.607125,Austria,AUT
8,10.721333,10.526083,11.472917,12.731583,12.202250,11.894417,12.958750,12.851750,11.607250,12.372583,...,11.807708,11.886250,11.358375,11.347250,11.971167,12.631292,10.647083,12.201458,Azerbaijan,AZE
9,25.465500,25.549833,26.024500,25.768667,25.385417,26.190833,26.229500,25.622667,25.253292,24.977458,...,25.518708,25.240625,25.529500,25.471250,25.284333,24.731333,25.585958,25.591458,Bahamas,AZE
10,25.122250,25.003167,25.261667,25.415833,25.440250,24.859250,25.524167,25.714833,25.184625,25.197750,...,24.819958,25.304417,25.008125,25.126042,25.428667,25.236583,24.854292,25.111125,Bangladesh,BGD
11,26.904667,27.056833,26.960083,27.326000,27.018250,27.239333,27.625083,27.140833,26.590625,26.842042,...,26.936458,26.836500,26.716208,26.532708,26.643750,26.869042,26.765708,26.760500,Barbados,BRB
12,7.132000,6.013833,6.735917,7.021250,5.656583,6.343750,6.528333,7.712750,6.864917,6.675167,...,6.444583,6.745458,6.259958,6.536083,6.224708,6.970208,6.631250,5.908292,Belarus,BLR
13,10.489250,9.925833,10.996750,10.696750,8.893167,10.472417,10.369167,10.934250,10.410792,9.796458,...,9.951917,10.332708,10.135250,9.688167,9.641167,9.480667,10.780375,9.910333,Belgium,BEL
14,25.647917,25.603083,25.908917,26.004750,25.450500,26.088250,26.228167,25.366667,24.916708,24.729000,...,25.171708,25.231625,25.303667,25.141583,25.469667,24.852583,25.428375,25.391708,Belize,BLZ
15,27.230583,27.597917,27.335583,27.616167,27.703917,27.542000,28.088583,27.680417,27.333708,27.304208,...,27.303125,27.513208,27.250208,27.187167,27.365333,27.558750,27.163458,27.212208,Benin,BEN
16,23.290833,22.680750,22.379167,23.213833,22.199667,22.336833,23.070583,22.978000,21.946875,21.936417,...,22.413750,21.504417,21.685292,21.938583,21.824083,22.038875,21.672875,22.117792,Botswana,BWA
17,25.251333,25.354917,25.454667,25.554417,25.337833,25.559417,25.958750,25.286583,25.050667,25.141000,...,25.272833,25.016375,25.004333,24.964375,25.002833,25.115250,24.859000,25.097292,Brazil,BRA
18,11.021750,10.713417,12.200417,10.809667,10.428500,10.225333,11.098917,11.788500,11.434833,11.059917,...,10.478250,10.739500,11.009208,11.015542,11.164375,11.321792,10.688458,11.001958,Bulgaria,BGR
19,28.132000,28.621083,28.039333,28.469583,28.739083,28.569167,28.992917,28.451167,28.286083,28.255625,...,28.358083,28.371958,28.106917,28.041083,28.216375,28.690583,28.151208,28.435208,Burkina Faso,BFA
20,27.070500,26.908250,27.123083,27.080417,26.838833,27.219333,27.956833,26.834750,26.844208,26.859750,...,27.020458,27.016125,26.770792,26.620208,26.888042,27.190375,26.828708,27.258125,Cambodia,KHM
21,24.297333,24.662250,24.631667,24.818000,24.700750,24.817333,25.323083,24.656167,24.368167,24.550875,...,24.633750,24.578583,24.506625,24.453667,24.559542,24.554875,24.295625,24.604292,Cameroon,CMR
22,-4.928917,-4.401500,-4.433667,-4.314333,-4.941167,-4.231500,-2.553917,-3.186333,-4.522333,-4.076167,...,-4.207583,-3.754792,-5.312000,-4.768333,-5.021458,-3.483167,-4.546958,-4.204958,Canada,CAN
23,25.092083,25.748750,25.682750,25.631833,25.717250,26.042667,26.204333,25.469417,25.333583,25.759125,...,25.649917,25.457792,25.520958,25.349000,25.568583,25.352875,25.167542,25.417167,Central African Republic,CAF
24,26.919667,27.612417,27.261083,27.461833,27.783500,27.797417,27.895833,27.779833,27.147833,27.510875,...,27.478458,27.382083,27.181667,27.154417,27.548167,27.369583,27.148042,27.109250,Chad,TCD
25,9.737750,9.944583,10.054333,9.784917,9.758000,10.337000,10.292417,9.829583,9.434542,9.647833,...,9.604375,9.692208,9.179833,9.664167,9.512542,9.309500,9.573875,9.824667,Chile,CHL
26,25.533583,25.206417,25.162417,25.492833,25.149917,25.580000,25.879167,24.870667,24.951583,24.985542,...,25.130083,25.005167,24.849750,24.680292,24.864875,24.886958,24.822917,25.026917,Colombia,COL
27,24.549833,24.679833,24.842917,25.096917,24.668000,25.060500,25.540500,24.812500,24.536917,24.704250,...,24.681000,24.620167,24.632708,24.631750,24.666167,24.760250,24.303292,24.767333,Congo,COD
28,26.361750,26.319333,26.425833,26.292833,25.962500,26.806250,26.974083,25.864417,25.744208,25.502167,...,25.805500,25.898458,25.758208,25.566250,25.859792,25.431125,25.801083,26.016042,Costa Rica,CRI
29,12.549083,11.931583,13.110000,11.881750,11.125750,11.827417,12.100917,12.316500,12.526667,11.622875,...,11.167500,11.589250,12.059250,11.754125,11.850083,11.732667,12.164542,11.814000,Croatia,HRV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,24.771250,25.741000,26.297583,25.989167,26.433000,25.867667,26.853750,26.940583,26.065917,26.264708,...,25.819292,25.891583,25.751417,25.823250,26.307292,26.287250,25.662750,26.089833,Saudi Arabia,SAU
113,28.459833,28.646500,28.241083,28.556917,28.775667,28.821333,29.254250,28.127333,28.190958,28.453625,...,28.280167,28.191583,27.809583,28.160000,27.937917,28.604708,28.187875,28.208542,Senegal,SEN
114,10.975583,10.414417,11.682250,10.276167,9.824917,9.984000,10.568333,10.917250,11.152042,10.313708,...,9.824917,10.163792,10.668375,10.538958,10.568542,10.669500,10.467833,10.360792,Serbia,SRB
115,26.397167,26.608833,26.358250,26.578167,26.704500,26.669500,27.075750,26.521500,26.253000,26.406292,...,26.415250,26.303542,26.171417,26.267833,26.228833,26.580292,26.252625,26.419083,Sierra Leone,SLE
116,8.727167,7.982167,9.297583,8.153000,7.126167,7.773083,8.333583,8.675583,8.766208,7.777750,...,7.681875,8.058000,8.228583,8.063667,8.020167,8.043917,8.438292,7.789125,Slovakia,SVK
117,10.925333,10.350000,11.502000,10.289583,9.445000,10.382917,10.597333,10.686917,10.865708,9.967458,...,9.506083,10.008833,10.412708,10.042875,10.135208,9.965500,10.607042,10.167542,Slovenia,SVN
118,27.001917,26.781000,26.793083,27.200500,27.124917,26.950417,27.374333,26.994250,26.737667,26.975375,...,26.677750,26.775542,26.690875,26.649625,26.986542,26.795750,26.877833,26.830167,Solomon Islands,SLB
119,18.256167,18.202750,17.614750,17.870750,17.258667,17.615250,18.095333,18.545500,17.485792,17.388542,...,17.498125,17.058917,17.234542,17.361333,17.422417,17.464000,17.182542,17.478958,South Africa,ZAF
120,13.955250,13.500667,14.651000,15.072167,14.151250,15.105917,14.552000,14.366500,14.049083,13.851750,...,13.726417,14.243208,13.773042,13.927958,14.008417,13.659750,14.365542,13.900667,Spain,ESP
121,27.269833,27.367417,27.365250,27.587500,27.399583,27.657667,28.153250,27.361250,27.356000,27.405542,...,27.359417,27.361333,27.111833,27.070542,27.253500,27.243708,27.265125,27.464958,Sri Lanka,LKA
122,26.879667,27.680250,27.257333,27.498833,27.750667,27.694000,27.803000,27.719500,27.172333,27.679833,...,27.404167,27.172875,27.194458,27.261542,27.605792,27.561667,27.212417,27.210250,Sudan,SDN
123,26.805583,26.589583,26.566083,27.045333,26.821583,27.047167,27.400167,26.722500,26.362250,26.594500,...,26.741208,26.449375,26.313667,26.367000,26.589417,26.566958,26.415417,26.612042,Suriname,SUR
124,20.269833,19.725000,18.970417,19.539333,19.111000,19.152500,19.865417,19.788833,18.939417,18.933000,...,19.202292,18.754708,18.850583,18.993375,19.210333,18.813917,18.802250,19.217292,Swaziland,SWZ
125,3.872250,2.945000,2.879917,3.066000,2.391750,3.730583,2.872917,3.543917,2.878208,2.955833,...,3.195250,3.606750,3.242375,3.334333,2.626917,2.382125,3.806667,2.506250,Sweden,SWE
126,8.059667,7.617333,8.821083,7.751917,6.974583,8.212417,7.958000,7.902833,7.933917,7.137000,...,7.079542,7.623750,7.685542,7.283417,7.239917,6.975917,8.193667,7.318750,Switzerland,CHE
127,4.430500,4.142667,4.720250,4.808667,4.275333,5.452417,5.116417,5.425000,4.469667,4.762125,...,4.142750,4.668750,4.244500,4.400667,4.683292,4.559458,4.454833,4.240292,Tajikistan,TJK
128,26.291167,26.297083,26.477000,26.529917,26.185500,26.635167,27.379667,26.222250,26.201208,26.367750,...,26.407375,26.445250,26.102667,25.960000,26.263042,26.593750,26.128958,26.603125,Thailand,THA
129,26.975500,27.236750,27.081667,27.311333,27.305833,27.225417,27.805583,27.280333,27.103375,27.015333,...,27.056417,27.194167,27.040250,26.980875,26.995708,27.205000,26.882000,27.004500,Togo,TGO
130,20.033167,20.567667,21.266000,20.683167,20.527500,21.084000,20.761333,21.656917,20.490583,20.702458,...,20.217083,20.304708,20.122500,20.457667,20.199500,20.499292,20.387750,20.615792,Tunisia,TUN
131,10.516667,11.277417,12.744833,12.188833,12.405917,11.568000,12.883167,13.087250,12.057833,12.837833,...,11.870958,11.902167,11.782625,11.745333,12.362250,12.886917,11.215125,12.230250,Turkey,TUR
132,15.036833,14.735417,15.356417,16.520917,15.327000,16.335000,16.162583,16.378500,15.161500,15.777250,...,15.479083,15.547125,15.055042,15.042542,15.813750,15.805000,14.642333,15.252042,Turkmenistan,TKM
133,23.295417,23.390917,23.415583,23.571583,23.300500,23.813667,23.744250,23.284083,23.267417,23.620000,...,23.357542,23.173708,23.062250,22.994250,23.140167,23.241250,23.415208,23.514833,Uganda,UGA
134,8.379750,7.458417,8.807250,8.709083,7.552583,7.604583,8.455583,9.507250,8.567833,8.563042,...,8.447958,8.439292,8.319625,8.095417,8.474458,8.941000,7.835833,7.954500,Ukraine,UKR
135,27.284083,28.070417,28.397417,27.986333,28.319250,28.120667,29.292583,29.298417,28.232833,28.322917,...,28.248417,28.196208,28.225917,28.057417,28.413333,28.378292,28.026250,28.445125,United Arab Emirates,ARE
136,9.025000,8.669750,9.150750,9.419583,8.551167,9.644250,9.462750,9.663333,8.965042,8.759625,...,9.022833,9.227125,8.945375,8.962333,8.674292,8.396542,9.488417,8.739333,United Kingdom,GBR
137,17.528833,17.646417,18.131917,17.664750,17.874167,18.365500,17.521500,17.607750,17.768625,17.807292,...,17.430958,17.858792,17.126625,17.439458,17.140417,17.150042,16.854917,17.685458,Uruguay,URY
138,12.863333,11.956000,12.639167,13.971333,12.452250,13.847250,13.245000,13.908500,12.676917,13.147958,...,12.873542,12.920958,12.581417,12.439042,13.218333,13.194125,12.181833,12.644500,Uzbekistan,UZB
139,26.266500,26.402000,26.994250,26.577667,26.546167,26.940000,27.368667,27.353583,26.713375,26.460375,...,26.615875,26.536458,26.479625,26.245625,26.738375,26.645417,26.566625,26.633500,Yemen,YEM
140,22.414667,21.711583,21.846583,22.451417,22.018083,21.949750,22.300667,21.451750,21.466417,21.429292,...,21.914875,21.301667,21.137417,21.295500,21.314667,21.463000,21.241750,21.571750,Zambia,ZMB
141,22.840333,21.852250,21.608750,22.496333,21.553167,21.566667,22.142167,21.486333,21.212417,21.184458,...,21.695292,21.092125,20.905125,21.292000,21.148375,21.161083,21.074042,21.453625,Zimbabwe,ZWE

In [157]:
temp2_df.to_csv("temp2_df.csv")